/* --------------------------------- resets --------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --------------------- Variables and default font size -------------------- */
:root {
  font-size: 13px;
  font-family: "Barlow Semi Condensed", sans-serif;

  /* Primary colors */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /* Neutral colors */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: #ecf2f8;
}

body {
  margin: 71px 24px;
  background-color: var(--light-grayish-blue);
}

/* ------------------- common styles to all article cards ------------------- */
article {
  border-radius: 8px;
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  margin: 24px 0;
  padding: 26px 32px 32px 32px;
}

/* --------------------- individual article card styles --------------------- */
.first {
  background-color: var(--moderate-violet);
}

.second {
  background-color: var(--very-dark-grayish-blue);
}
.third {
  background-color: var(--white);
}
.fourth {
  background-color: var(--very-dark-blackish-blue);
}
.fifth {
  background-color: var(--white);
}

/* ------------------------------- Attribution ------------------------------ */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
